.container {
  align-items: center;
  border: none;
  color: #ca9b50;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 300px;
  justify-content: center;

  .heroText {
    display: flex;
    font-family: 'lust';
    font-size: 40px;
    justify-content: center;
    text-align: center;
    width: 25%;
    height: 20vmin;
  }
}