.container {
  align-items: center;
  background: rgb(29, 46, 38);
  border: none;
  color: goldenrod;
  display: flex;
  font-size: 20px;
  height: 300px;
  justify-content: center;

  .heroText {
    display: flex;
    font-family: 'lust';
    font-size: 40px;
    justify-content: center;
    text-align: center;
    width: 25%;
    height: 100%;
  }
}